@import "../variables/colors";

.weather-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    .location {
      font-size: 32px;
      line-height: 32px;
      font-weight: bold;
    }

    .temperature {
      font-size: 32px;
      line-height: 32px;
      font-weight: bold;
    }

    .description {
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
    }

    .time {
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
    }
  }
}
